<!-- 
    <htl-rooms></htl-rooms>
    <htl-container>
        this is from the ng content
    </htl-container> -->


<htl-app-nav></htl-app-nav>
<!-- 

<!-- <a [routerLink]="'/rooms'">Rooms</a>
<a [routerLink]="'/employee'"> employee</a> -->
<!-- -->
<router-outlet>
</router-outlet>
<!-- // this is the router outlet where the component will be loaded dynamically .
        // this remove the privous component and load the new component which is selected by the user, using the router
        link. -->